* {
	box-sizing: border-box;
}

.background-image {
	background-image: url("resources/maxres.png");
	background-size: cover;
	display: block;
	filter: blur(8px);
	-webkit-filter: blur(8px);
	position: fixed;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	z-index: 0;
}

.content {
	font-family: sans-serif;
	text-align: center;
	background: rgba(255, 255, 255, 0.2);
	border-radius: 3px;
	box-shadow: 0 1px 5px rgba(0, 0, 0, 0.2);
	position: relative;
	top: -8px;
	left: 0;
	right: 0;
	z-index: 2;
	margin: 0 64px;
	text-decoration: none;
}

.content-header {
	font-size: 32px;
}

.content-body {
	font-size: 18px;
}