* {
  box-sizing: border-box;
}

.background-image {
	background-image: url("resources/maxres.png");
	background-size: cover;
	display: block;
	filter: blur(5px);
	-webkit-filter: blur(5px);
	height: 100%;
	position: fixed;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	z-index: 0;
}

.content {
	width: 100%;
	font-family: sans-serif;
	text-align: center;
	position: fixed;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	margin: 0 20px;
	z-index: 1;
	padding: 0 10px;
}

.content-header {
	background-color: orangered;
	width: 25%;
	margin: 0 auto;
}

.content-body {
	background-color: antiquewhite;
	width: 25%;
	height: 10%;
	margin: -20px auto;
}

p {
	font-size: 20px
}